ul {
  display: flex;
  justify-content: center;
}

.icon {
  background-image: url("./0-sprite.png");
  height: 400px;
  width: 300px;
}

li {
  background-color: #f7f7f7;
  list-style: none;
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-top: 12px;
  font-size: 2.5rem;
  font-weight: bold;
}

li span.i-html {
  background-position: left;
}

li span.i-css {
  background-position: center;
}

li span.i-js {
  background-position: right;
}