body {
  display: flex;
  max-width: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e8f5f7;
}
input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

input[type="checkbox"]:checked + label .toggle-inner::before {
  font-size: 3.9rem;
  content: "Yes";
}

input[type="checkbox"]:not(:checked) + label .toggle-inner::before {
  font-size: 3.9rem;
  margin-left: 180px;
  content: "No";
}

.toggle-inner {
  font-size: 0.9rem;
}

.toggle-inner::before {
  content: "Yes";
  color: white;
  padding-left: 6px;
}

label {
  width: 300px;
  height: 80px;
  display:block;
  background-color: #d0d0d0;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #f6f6f650;
}
label::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #e8f5f7;
  position: absolute;
  border-radius: 70px;
  top: 15px;
  left: 15px;
  transition: 0.5s;
}

input:checked + label:after {
  left: calc(100% - 10px);
  transform: translateX(-100%);
}

input:checked + label {
  background-color: #f73250;
}

label:active:after {
  width: 160px;
}
